<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aratek.framework.core.dao.ProvinceDAO">
    <resultMap id="ProvinceResultMap" type="araFwProvince">
        <id column="fID" property="fID"/>
        <result column="fName" property="fName"/>
        <result column="fSimpleName" property="fSimpleName"/>
        <result column="fNumber" property="fNumber"/>
        <result column="fStatus" property="fStatus"/>
        <result column="fDescription" property="fDescription"/>
        <result column="fCreatorID" property="fCreatorID"/>
        <result column="fCreateTime" property="fCreateTime"/>
        <result column="fLastUpdateUserID" property="fLastUpdateUserID"/>
        <result column="fLastUpdateTime" property="fLastUpdateTime"/>
        <result column="fCountryID" property="fCountryID"/>
        <result column="fCountryName" property="fCountryName"/>
        <!--关联user表查询出用户名-->
        <result column="fCreatorName" property="fCreatorName"/>
        <result column="fLastUpdateUserName" property="fLastUpdateUserName"/>
    </resultMap>

    <sql id="Base_Column_List">
        fID, fName, fSimpleName, fNumber, fStatus, fDescription, fCountryID, fCreatorID, fCreateTime, fLastUpdateUserID, fLastUpdateTime
    </sql>

    <sql id="Base_Column_List_t">
        t.fID, t.fName, t.fSimpleName, t.fNumber, t.fStatus, t.fDescription, t.fCountryID, t.fCreatorID, t.fCreateTime, t.fLastUpdateUserID, t.fLastUpdateTime
    </sql>

    <select id="selectProvinceList" resultMap="ProvinceResultMap" parameterType="araFwProvince">
        select t1.fName as fCreatorName,t2.fName as fLastUpdateUserName,t3.fName as fCountryName,
        <include refid="Base_Column_List_t"/>
        from t_bd_province t
        left join T_BD_USER t1 on t1.fID = t.fCreatorID
        left join T_BD_USER t2 on t2.fID = t.fLastUpdateUserID
        left join T_BD_COUNTRY t3 on t3.fID = t.fCountryID
        <where>
            <if test="fName != null and fName != ''">
                <choose>
                    <when test="_databaseId == 'sqlserver'">
                        and t.fName like '%'+#{fName}+'%'
                    </when>
                    <otherwise>
                        and t.fName like concat(concat('%',#{fName}),'%')
                    </otherwise>
                </choose>
            </if>
            <if test="fSimpleName != null and fSimpleName != ''">
                <choose>
                    <when test="_databaseId == 'sqlserver'">
                        and t.fSimpleName like '%'+#{fSimpleName}+'%'
                    </when>
                    <otherwise>
                        and t.fSimpleName like concat(concat('%',#{fSimpleName}),'%')
                    </otherwise>
                </choose>
            </if>
            <if test="fNumber != null and fNumber != ''">
                and t.fNumber = #{fNumber}
            </if>
            <if test="fStatus != null">
                and t.fStatus = #{fStatus}
            </if>
            <if test="fCountryID != null and fCountryID != ''">
                and t.fCountryID = #{fCountryID}
            </if>
            <if test="fCountryName != null and fCountryName != ''">
                and t3.fName = #{fCountryName}
            </if>
            <if test="queryCreateTimeStart != null">
                and t.fCreateTime >= #{queryCreateTimeStart}
            </if>
            <if test="queryCreateTimeEnd != null">
                <![CDATA[
                and t.fCreateTime <= #{queryCreateTimeEnd}
                ]]>
            </if>
            <if test="queryUpdateTimeStart != null">
                and t.fLastUpdateTime >= #{queryUpdateTimeStart}
            </if>
            <if test="queryUpdateTimeEnd != null">
                <![CDATA[
                and t.fLastUpdateTime <= #{queryUpdateTimeEnd}
                ]]>
            </if>
        </where>
    </select>

    <select id="selectCountByNumber" resultType="int" parameterType="string">
        select count(1) as num
        from t_bd_province
        where fNumber = #{fNumber}
    </select>

    <select id="selectCountByName" resultType="int" parameterType="string">
        select count(1) as num
        from t_bd_province
        where fName = #{fName}
    </select>

    <select id="selectProvinceByNumber" resultMap="ProvinceResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bd_province
        where fNumber = #{fNumber}
    </select>

    <select id="selectProvinceByName" resultMap="ProvinceResultMap" databaseId="mysql">
        select
        <include refid="Base_Column_List"/>
        from t_bd_province
        where fName = #{fName}
        limit 1
    </select>

    <select id="selectProvinceByName" resultMap="ProvinceResultMap" databaseId="oracle">
        select
        <include refid="Base_Column_List"/>
        from t_bd_province
        where fName = #{fName}
        and rownum = 1
    </select>

    <select id="selectProvinceByName" resultMap="ProvinceResultMap" databaseId="sqlserver">
        select top 1 * from
        (
        select
        <include refid="Base_Column_List"/>
        from t_bd_province
        where fName = #{fName}
        ) t1
    </select>

    <select id="selectCountReferenceByID" resultType="int">
        select count(1) as referenceNum from t_bd_city where fProvinceID = #{fID}
    </select>

    <select id="selectCountReferenceByIDList" resultType="int" parameterType="list">
        select count(1) as referenceNum from t_bd_city where fProvinceID in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <insert id="insertProvince" parameterType="araFwProvince">
        insert into t_bd_province (
        <include refid="Base_Column_List"/>
        ) values (
        #{fID},
        #{fName},
        #{fSimpleName},
        #{fNumber},
        #{fStatus},
        #{fDescription},
        #{fCountryID},
        #{currentUserID},
        #{currentUserOperationTime},
        #{currentUserID},
        #{currentUserOperationTime}
        )
    </insert>

    <update id="updateProvince" parameterType="araFwProvince">
        update t_bd_province set
            fNumber = #{fNumber},
            fName = #{fName},
            fSimpleName = #{fSimpleName},
            fCountryID = #{fCountryID},
            fDescription = #{fDescription},
            fLastUpdateUserID = #{currentUserID},
            fLastUpdateTime = #{currentUserOperationTime}
        where fID = #{fID}
    </update>

    <update id="updateProvinceStatusBatch" parameterType="list">
        <foreach collection="list" item="item" index="index" separator=";">
            update t_bd_province
            set
            fStatus = #{item.fStatus},
            fLastUpdateUserID = #{item.currentUserID},
            fLastUpdateTime = #{item.currentUserOperationTime}
            where fID = #{item.fID}
        </foreach>
    </update>

    <update id="updateProvinceStatusBatch" parameterType="list" databaseId="oracle">
        begin
        <foreach collection="list" item="item" index="index" separator=";">
            update t_bd_province
            set
            fStatus = #{item.fStatus},
            fLastUpdateUserID = #{item.currentUserID},
            fLastUpdateTime = #{item.currentUserOperationTime}
            where fID = #{item.fID}
        </foreach>
        ;end;
    </update>

    <delete id="deleteProvinceByID" parameterType="string">
        delete from t_bd_province where fID = #{provinceID};
    </delete>

    <delete id="deleteProvinceBatch" parameterType="list">
        delete from t_bd_province where fID in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>


</mapper>