<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aratek.framework.core.dao.UserLoginLogDAO">
    <resultMap id="UserLoginLogResultMap" type="araFwUserLoginLog">
        <id column="fID" property="fID"/>
        <result column="fUserID" property="fUserID"/>
        <result column="fLoginDate" property="fLoginDate"/>
        <result column="fLoginType" property="fLoginType"/>
        <result column="fPlatForm" property="fPlatForm"/>
        <result column="fEquipmentNo" property="fEquipmentNo"/>
        <result column="fIP" property="fIP"/>
        <!--关联user表查询出用户名-->
        <result column="fUserName" property="fUserName"/>
    </resultMap>

    <sql id="Base_Column_List">
        fID, fUserID, fLoginDate, fLoginType, fPlatForm, fEquipmentNo, fIP
    </sql>

    <sql id="Base_Column_List_t">
        t.fID, t.fUserID, t.fLoginDate, t.fLoginType, t.fPlatForm, t.fEquipmentNo, t.fIP
    </sql>

    <select id="selectUserLoginLogList" resultMap="UserLoginLogResultMap" parameterType="araFwUserLog">
        select t1.fName as fUserName,
        <include refid="Base_Column_List_t"/>
        from T_BD_USERLOGINLOG t
        left join T_BD_USER t1 on t1.fID = t.fUserID
        <trim prefix="where" prefixOverrides="and">
            <if test="fEquipmentNo != null and fEquipmentNo != ''">
                <choose>
                    <when test="_databaseId == 'sqlserver'">
                        and t.fEquipmentNo like '%'+#{fEquipmentNo}+'%'
                    </when>
                    <otherwise>
                        and t.fEquipmentNo like concat(concat('%',#{fEquipmentNo}),'%')
                    </otherwise>
                </choose>
            </if>
            <if test="fIP != null and fIP != ''">
                and t.fIP = #{fIP}
            </if>
            <if test="fUserName != null and fUserName != ''">
                and t1.fName = #{fUserName}
            </if>
            <if test="queryCreateTimeStart != null">
                and t.fLoginDate >= #{queryCreateTimeStart}
            </if>
            <if test="queryCreateTimeEnd != null">
                <![CDATA[
                and t.fLoginDate <= #{queryCreateTimeEnd}
                ]]>
            </if>
        </trim>
    </select>


</mapper>