<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aratek.framework.core.dao.UserRightDAO">
    <resultMap id="UserRightResultMap" type="araFwUserRight">
        <id column="fID" property="fID"/>
        <result column="fUserID" property="fUserID"/>
        <result column="fRightID" property="fRightID"/>
        <result column="fMainMenuItemID" property="fMainMenuItemID"/>
        <result column="fCreatorID" property="fCreatorID"/>
        <result column="fCreateTime" property="fCreateTime"/>
        <result column="fLastUpdateUserID" property="fLastUpdateUserID"/>
        <result column="fLastUpdateTime" property="fLastUpdateTime"/>
        <result column="fIsInit" property="fIsInit"/>
        <!--关联user表查询出用户名-->
        <result column="fCreatorName" property="fCreatorName"/>
        <result column="fLastUpdateUserName" property="fLastUpdateUserName"/>
    </resultMap>

    <sql id="Base_Column_List">
        fID, fUserID, fRightID, fMainMenuItemID, fCreatorID, fCreateTime, fLastUpdateUserID, fLastUpdateTime, fIsInit
    </sql>

    <sql id="Base_Column_List_t">
        t.fID, t.fUserID, t.fRightID, t.fMainMenuItemID, t.fCreatorID, t.fCreateTime, t.fLastUpdateUserID, t.fLastUpdateTime, t.fIsInit
    </sql>



    <select id="selectUserRightList" resultMap="UserRightResultMap" parameterType="araFwRoleRight">
        select t1.fName as fCreatorName,t2.fName as fLastUpdateUserName,
        <include refid="Base_Column_List_t"/>
        from t_bd_userrights t
        left join T_BD_USER t1 on t1.fID = t.fCreatorID
        left join T_BD_USER t2 on t2.fID = t.fLastUpdateUserID
        left join t_bd_menurights t3 on t3.fID = t.fRightID
        <trim prefix="where" prefixOverrides="and">
            <if test="fUserID != null and fUserID != ''">
                and t.fUserID = #{fUserID}
            </if>
            <if test="fNumber != null and fNumber != ''">
                and t.fNumber = #{fNumber}
            </if>
            <if test="fDescription != null and fDescription != ''">
                and t.fDescription like concat(concat('%',#{fDescription}),'%')
            </if>
            <if test="fStatus != null and fStatus != ''">
                and t.fStatus = #{fStatus}
            </if>
        </trim>
    </select>

    <select id="selectUserRightList" resultMap="UserRightResultMap" parameterType="araFwRoleRight" databaseId="sqlserver">
        select t1.fName as fCreatorName,t2.fName as fLastUpdateUserName,
        <include refid="Base_Column_List_t"/>
        from t_bd_userrights t
        left join T_BD_USER t1 on t1.fID = t.fCreatorID
        left join T_BD_USER t2 on t2.fID = t.fLastUpdateUserID
        left join t_bd_menurights t3 on t3.fID = t.fRightID
        <trim prefix="where" prefixOverrides="and">
            <if test="fUserID != null and fUserID != ''">
                and t.fUserID = #{fUserID}
            </if>
            <if test="fNumber != null and fNumber != ''">
                and t.fNumber = #{fNumber}
            </if>
            <if test="fDescription != null and fDescription != ''">
                and t.fDescription like '%'+#{fDescription}+'%'
            </if>
            <if test="fStatus != null and fStatus != ''">
                and t.fStatus = #{fStatus}
            </if>
        </trim>
    </select>

    <select id="selectInitRightIDListByUserID" resultType="java.lang.String">
        select fRightID from t_bd_userrights where fUserID = #{userID} and fIsInit = 1
    </select>

    <insert id="insertUserRightBatch">
        <foreach collection="list" item="item" index="index" separator=";">
            insert into t_bd_userrights (
            <include refid="Base_Column_List"/>
            ) values (
            #{item.fID},#{item.fUserID},#{item.fRightID},#{item.fMainMenuItemID},
            #{item.fCreatorID},#{item.fCreateTime},#{item.fLastUpdateUserID},#{item.fLastUpdateTime}
            ,0
            )
        </foreach>
    </insert>

    <insert id="insertUserRightBatch" databaseId="oracle">
        begin
        <foreach collection="list" item="item" index="index" separator=";">
            insert into t_bd_userrights (
            <include refid="Base_Column_List"/>
            ) values (
            #{item.fID},#{item.fUserID},#{item.fRightID},#{item.fMainMenuItemID},
            #{item.fCreatorID},#{item.fCreateTime},#{item.fLastUpdateUserID},#{item.fLastUpdateTime}
            ,0
            )
        </foreach>
        ;end;
    </insert>

    <delete id="deleteUserRightBatch">
        delete from t_bd_userrights where fID in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and fIsInit = 0
    </delete>

    <delete id="deleteUserRightByUserID">
        delete from t_bd_userrights where fUserID = #{userID} and fIsInit = 0
    </delete>
</mapper>